@mixin font-weight-300 {
    font-weight: 300;
  }

@mixin sort-form-mb {
    margin-bottom: 20px;
  }

@mixin double-range-slider-circles {
  height: 18px;
  width: 18px;
  background-color: $additional-color;
  cursor: pointer;
  border-radius: 50%;
  // pointer-events: auto;
}

@mixin small-down-arrow{
  content: '';
  position: absolute;
  width: 10px;
  height: 6px;
  background-image: url('../../icons/down-arrow.svg');
  top: 44%;
  right: -15px;
}

@mixin smooth{
  transition: all 0.3s;
}

@mixin title{
  font-family: $second-font;
  font-weight: 600;
  line-height: 100%;
}