//text
$text-color: #333333;
$second-font: 'Montserrat', sans-serif;

//elements
$main-color: #FB3957;
$main-color-hover: #FE667D;

$additional-color: #626696;
$additional-hover: #ABAEDA;

//background
$bgr-color: #FCFCFC;

//blocks
$blocks-color: #F7F7F7;
$blocks-color-hover: #eeeeee;

