@import 'base/reset';
@import 'base/vars';
@import 'base/mixins';
@import 'base/animation';

* {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: $text-color;
}

html, body {
    height: 100%;
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.main {
    flex: 1 0 auto;
    //header-height
    margin-top: 90px;
}
.footer{
    flex: 0 0 auto;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.main-container{
    max-width: 996px;
    margin: 0 auto;
}
.container-column-8{
    width: 793px;
}
.h1{
    @include title;
    font-size: 45px;
    line-height: 47px;
}
.h2 {
    @include title;
    font-size: 35px;
}
.h3 {
    @include title;
    font-size: 24px;
}
.h4 {
    @include title;
    font-size: 16px;
}
.underline {
    text-decoration: underline;
}


//blocks
.value-box{
    display: flex;
    width: 97px;
    height: 30px;
    padding: 4px 10px;
    border: 1px solid $additional-color;
    border-radius: 7px;
    &__input{
        font-weight: 600;
        width: 100%;
        border: 0;
        outline: 0;
        padding: 0;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button{
            -webkit-appearance: none; 
        }
        &:hover,
        &:focus {
            appearance: none;
            -moz-appearance: textfield;
        }
    }
    &__span{
        padding-right: 5px;
        &:last-child{
            padding-left: 5px;
            padding-right: 0px;
            transform: translateY(1px);
        }
    }
}
.grey-wrapper{
    height: 30px;
    background: $blocks-color;
    border-radius: 7px;
    padding: 5px 12px;
    border: none;
    outline: none;
    &:hover{
        background: $blocks-color-hover;
    }
}
.text-value{
    font-weight: 400;
}
.text-value-thin{
    font-weight: 300;
}
.big-hr{
    width: 100%;
    height: 1px;
    background-color: #e9ebfe;
    border: none;
    margin: 50px 0;
}
.see-more{
    display: flex;
    justify-content: space-between;
}





//more blocks
@import 'blocks/btns';
@import 'blocks/cakes-card';
@import 'blocks/sort-form';
@import 'blocks/check-form';
@import 'blocks/double-range-slider';
@import 'blocks/select';
@import 'blocks/baker-card';
@import 'blocks/slick-slider';
@import 'blocks/dowload-more';
@import 'blocks/pagination';
@import 'blocks/to-prev-page';
@import 'blocks/topping-card';
@import 'blocks/baker-rating';
@import 'blocks/select-item';
@import 'blocks/comment';
@import 'blocks/spoiler';
@import 'blocks/selected-product';



//header&footer
@import "blocks/header";
@import "blocks/footer";


//main page
@import "blocks/main-page/first-screen";
@import "blocks/main-page/about";
@import "blocks/main-page/which-cakes";
@import "blocks/main-page/questions";

//other pages
@import "blocks/result-search/result-search";
@import 'blocks/baker-profile/baker-profile';
@import 'blocks/baker-profile/toppings';
@import 'blocks/baker-profile/baker-feedback';