.baker-card{
    font-weight: 300;
    border: 1px solid #E2E3F0;
    border-radius: 19px;
    &__value{
        font-weight: 400;
    }
    &__content-inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 14px 20px;
    } 
    &__slider{
    }
    &__baker,
    &__rating,
    &__info{
        display: flex;
        align-items: center;
    }

    &__info-item{
        margin-right: 35px;
    }
    &__like{
        margin-right: 15px;
        width: 24px;
        height: 20px;
        appearance: none;
        cursor: pointer;
        @include smooth;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='20' viewBox='0 0 24 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.1949 0.0654059C15.1929 0.0547065 13.2896 0.933973 12 2.46538C10.7184 0.923506 8.80988 0.0417394 6.80503 0.0654059C3.0467 0.0654059 0 3.11211 0 6.87043C0 13.311 11.2405 19.5995 11.6962 19.8426C11.8801 19.9655 12.1199 19.9655 12.3038 19.8426C12.7595 19.5995 24 13.4021 24 6.87043C24 3.11211 20.9532 0.0654059 17.1949 0.0654059ZM12 18.6274C10.238 17.5945 1.21519 12.0958 1.21519 6.87043C1.21519 3.78326 3.71785 1.28054 6.80508 1.28054C8.69561 1.25571 10.4648 2.20929 11.4836 3.80204C11.6904 4.08726 12.0893 4.15082 12.3746 3.94392C12.4291 3.90438 12.477 3.85653 12.5164 3.80204C14.206 1.2182 17.6702 0.493206 20.2541 2.18272C21.8358 3.21701 22.7879 4.98048 22.7848 6.87037C22.7848 12.1565 13.762 17.6249 12 18.6274Z' fill='%23FB3957' fill-opacity='0.5'/%3E%3C/svg%3E%0A");
        &:hover{
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='20' viewBox='0 0 24 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.1949 0.000464502C15.1929 -0.0102349 13.2896 0.869032 12 2.40044C10.7184 0.858565 8.80988 -0.023202 6.80503 0.000464502C3.0467 0.000464502 0 3.04717 0 6.80549C0 13.246 11.2405 19.5346 11.6962 19.7777C11.8801 19.9005 12.1199 19.9005 12.3038 19.7777C12.7595 19.5346 24 13.3372 24 6.80549C24 3.04717 20.9532 0.000464502 17.1949 0.000464502Z' fill='%23FB3957' fill-opacity='0.5'/%3E%3C/svg%3E");
        }
    }
    &__baker-name{
        margin-left: 10px;
    }
    &__baker-avatar{
        width: 38px;
        height: 38px;
        overflow: hidden;
        border-radius: 100%;
        // background-image: url("../../img/bakers/Maria/ava.jpg");
        // background-repeat: no-repeat;
        // background-position: -5px -10px;
        // background-size: 150%;
        
    }
    &__star{
        width: 14px;
        height: 14px;
        margin: 0 4px 0 8px;
    }
}