.button{
    // width: 175px;
    height: 51px;
    background: $main-color;
    border-radius: 25.5px;
    padding: 0 25px;

    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    color: #FFFFFF;
    outline: none;
    border: none;

    cursor: pointer;
    @include smooth;
    
    &:hover{
        background: $main-color-hover;
    }
    &_disabled{
        background: #ff8c9d;
        &:hover{
            background: #ff8c9d;
        }
    }

    &_small{
        // width: 114px;
        padding: 0 16px;
        height: 38px;
        font-size: 13px;
    }

    &_v2{
        // width: 161px;
        padding: 0 18px;
        height: 43px;
        border: 1px solid $additional-color;
        background: #fff;
        color: $additional-color;
        border-radius: 21px;
        font-weight: 300;
        &:hover{
            background: $additional-color;
            color: #fff;
        }
        &:active{
            border: 1px solid $additional-hover;
            background: $additional-hover;
            color: #fff;
        }
        &_small{
            width: 102px;
            height: 37px;
        }

        &_active{
            background: $additional-color;
            color: #fff;
        }
    }
}