.button{
    width: 175px;
    height: 51px;
    background: $main-color;
    border-radius: 25.5px;

    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    color: #FFFFFF;
    outline: none;
    border: none;

    cursor: pointer;
    @include smooth;

    &_v2{
        width: 161px;
        height: 43px;
        border: 1px solid $additional-color;
        background: #fff;
        color: $additional-color;
        border-radius: 21px;
        font-weight: 300;
        &:hover{
            background: $additional-color;
            color: #fff;
        }
        &:active{
            border: 1px solid $additional-hover;
            background: $additional-hover;
            color: #fff;
        }
        &_small{
            width: 102px;
            height: 37px;
        }
    }
}