.check-form{
    &__label{
        @include font-weight-300;
        display: block;
        position: relative;
        padding-left: 20px;
        margin-bottom: 12px;
        &:last-child{
            @include sort-form-mb;
        } 
    }
    &__input{
        margin: 0;
        appearance: none;
        &:checked + .check-form__box{            
            background: url('data:image/svg+xml,%3Csvg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Crect x="0.5" y="0.5" width="14" height="14" fill="%23626696" stroke="%23626696"/%3E%3Cpath d="M9.76567 4.36673L5.54534 8.58677C5.23282 8.89935 4.72586 8.89935 4.41304 8.58677L2.23448 6.40804C1.92184 6.09546 1.92184 5.58845 2.23448 5.27581C2.54718 4.96311 3.0541 4.96311 3.36666 5.27569L4.97936 6.88841L8.63331 3.23443C8.94601 2.92174 9.45297 2.92197 9.76555 3.23443C10.0781 3.54707 10.0781 4.05391 9.76567 4.36673Z" fill="white"/%3E%3C/svg%3E') center (center/cover) no-repeat;
        }
        &:active + .check-form__box{ 
            background: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='11' height='11' fill='%23ABAEDA' stroke='%23ABAEDA'/%3E%3Cpath d='M9.76567 4.36673L5.54534 8.58677C5.23282 8.89935 4.72586 8.89935 4.41304 8.58677L2.23448 6.40804C1.92184 6.09546 1.92184 5.58845 2.23448 5.27581C2.54718 4.96311 3.0541 4.96311 3.36666 5.27569L4.97936 6.88841L8.63331 3.23443C8.94601 2.92174 9.45297 2.92197 9.76555 3.23443C10.0781 3.54707 10.0781 4.05391 9.76567 4.36673Z' fill='white'/%3E%3C/svg%3E") center (center/cover) no-repeat;
        }
    }
    &__box{
        // display: block;
        position: absolute;
        width: 14px;
        height: 14px;
        background-color: #fff;
        border: 1px solid $additional-color;
        border-radius: 2px;
        left: 0;
        top: 3px;
    }
}