.download-more{
    cursor: pointer;
    margin-left: 5px;
    display: flex;
    align-items: center;
    &:hover &__circle{
        background: $additional-hover;
    }
    &__circle{
        width: 5px;
        height: 5px;
        background: #C4C4C4;
        border-radius: 100%;
        margin-right: 4px;
        &:last-child{
            margin-right: 7px;
        }
    }
    &__text{
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
    }


}