.selected-product{
    width: 328px;
    box-shadow: 0px 4px 10px rgba(98, 102, 150, 0.1);
    border-radius: 13px;
    padding: 30px;
    font-weight: 300;
    animation: opacity 0.5s;
    &__top{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__top,
    &__dowload-photo,
    &__data{
        margin-bottom: 14px;
    }
    &__hr{
        width: 100%;
        height: 1px;
        border: 1px solid rgba(51, 51, 51, 0.3);
        margin: 14px 0;
    }
    &__title{
        font-weight: 400;    
    }
    &__reduce,
    &__close{
        width: 15px;
        height: 15px;
        pointer-events: none;
    }
    &__btns{
        display: flex;
        button{
            background: none;
            border: none;
            margin: 0;
            padding: 0;
            cursor: pointer;
            display: flex;
            align-items: center;
            &:first-child{
                margin-right: 8px;
            }
        }
    }
    &__descr{
        resize: none;
        width: 100%;
        height: 112px;
        border: 1px solid rgba(51, 51, 51, 0.3);
        border-radius: 4px;  
        padding: 8px 12px;
        margin-bottom: 14px;
        outline: none;
        &::-webkit-scrollbar{
            width: 0;
        }
        &:hover,
        &:active{
            border: 1px solid rgba(51, 51, 51, 0.5);
        }
    }
    &__upload-btn{
        border: none;
        padding: 0;
        background-color: #fff;
        display: flex;
        align-items: center;
        font-weight: 400;
        cursor: pointer;
        &:hover .selected-product__title{
            text-decoration: underline;
        }
    }
    &__upload-icon{
        margin-left: 10px;
        pointer-events: none;
    }
    &__upload-input{
        display: none;
    }
    &__more-btn{
        border: none;
        padding: 0;
        background-color: #fff;
        cursor: pointer;
        height: 24px;
        transform: translateY(-4px);
    }
    &__more-icon{
        pointer-events: none;
        width: 24px;
        height: 24px;
    }
    &__preview{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    &__preview-image{
        margin: 0 10px 10px 0;
        position: relative;
        img{
            width: 100%;
            height: 60px;
        }
        &:hover .selected-product__preview-remove{
            opacity: 1;
        }
    }
    &__preview-remove{
        opacity: 0;
        cursor: pointer;
        width: 15px;
        height: 15px;
        position: absolute;
        right: 2px;
        top: 2px;
        transition: all .3s;
        img{
            height: 100%;
        }
    }

    &__bottom{
        display: flex;
        justify-content: space-between;
        margin-top: 13px;
    }
    &__weight-inner{
        display: flex;
    }
    &__select-inner{
        margin-left: 5px;
    }
    &__question-icon{
        width: 15px;
        height: 15px;
        margin-left: 5px;
    }
    &__price-per-one{
        display: flex;
        align-items: center;
        margin-top: 7px;
        margin-left: 33px;
    }

    &__total-price{
        font-weight: 600;
        font-size: 16px;
    }
    &__price-inner{
        display: flex;
        align-items: center; 
        margin-top: 7px;
    }

    &__footer{
        display: flex;
        align-items: center; 
        justify-content: space-between;
    }

    &__count{
        display: flex;
        height: 20px;
        button{
            background: none;
            border: none;
            margin: 0;
            padding: 0;
            cursor: pointer;
            display: flex;
            margin-top: 5px;
        }
    }
    &__count-number{
        font-weight: 600;
        margin: 0 10px;
    }
    &__count-r-arrow{
        transform: rotate(180deg);
    }
    &__count-l-arrow,
    &__count-r-arrow{
        pointer-events: none;
    }
    
}