<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <div class="header__item">
                <div class="header__logo-wrapper">
                    <a href="index.html"><img class="logo header__logo" src="logo/logo.svg" alt="logo"></a>
                </div>
                <div class="header__about-service">
                    <div class="select-block header__select">
                        <div class="select-block__inner ">
                            <div data-cannot-change-header class="select-block__header">
                                <span class="select-item">О сервисе</span>
                            </div>
                            <div  class="select-block__body">
                                <a href='#'><div class="select-block__item">Гарантия</div></a>
                                <a href='#'><div class="select-block__item">Работа</div></a>
                                <a href='#'><div class="select-block__item">Отзывы</div></a>
                            </div>
                        </div>
                    </div>
                    <!-- О сервисе -->
                </div>
            </div>     
            <div class="header__item">
                <div class="header__search-base">
                    <div class="header__search-item">
                        <div class="header__search-title">Местоположение</div>
                        <div class="header__search-subtitle">Где нужен торт?</div>
                    </div>
                    <div class="header__search-line"></div>
                    <div class="header__search-item">
                        <div class="header__search-title">Дата</div>
                        <div class="header__search-subtitle">К какому дню?</div>
                    </div>
                    <div class="header__search-line"></div>
                    <div class="header__search-item">
                        <div class="header__search-title">Особенности</div>
                        <div class="header__search-subtitle">Какой нужен торт?</div>
                    </div>
                    <div class="header__search-circle">
                        <img class="header__search-icon" src="icons/search.svg" alt="">
                    </div>
                </div>
            </div>   
            <div class="header__item">
                <a class="header__resume" href="#">Разместить резюме</a>
                <div class="select-block header__user-select">
                    <div class="select-block__inner ">
                        <div data-cannot-change-header class="select-block__header">
                            <div class="header__account">
                                <a class="header__gamburger" href="#">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </a>
                                <div class="header__user">
                                    <img class="header__user-icon" src="icons/profile.svg" alt="">
                                </div>
                            </div>
                            
                        </div>
                        <div class="select-block__body">
                            <a href='#'><div class="select-block__item">Регистрация/вход</div></a>
                            <a href='#'><div class="select-block__item">Центр помощи</div></a>
                            <a href='#'><div class="select-block__item">Доверие и безопасность</div></a>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
    </div>
</header>