<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <div class="header__item">
                <div class="header__logo-wrapper">
                    <a href="index.html"><img class="logo header__logo" src="logo/logo.svg" alt="logo"></a>
                </div>
                <div class="header__about-service">
                    <div class="new-select header__select">
                        <button data-cannot-change-header class="new-select__btn new-select__btn_big">О сервисе</button>
                        <ul class="new-select__list">
                            <li class="new-select__list-item" data-value="beginner">Гарантия</li>
                            <li class="new-select__list-item" data-value="amateur">Работа</li>
                            <li class="new-select__list-item" data-value="pro">Отзывы</li>
                        </ul>
                        <!-- для отправки формы в которой находится select, для тех. нужд -->
                        <input class="new-select__input-hidden" type="text" name="select-category" value="">
                    </div>
                    <!-- О сервисе -->
                </div>
            </div>     
            <div class="header__item">
                <div class="header__search-base">
                    <div class="header__search-item">
                        <div class="header__search-title">Местоположение</div>
                        <div class="header__search-subtitle">Где нужен торт?</div>
                    </div>
                    <div class="header__search-line"></div>
                    <div class="header__search-item">
                        <div class="header__search-title">Дата</div>
                        <div class="header__search-subtitle">К какому дню?</div>
                        <!-- <div class="calendar header__calendar">
                            <div class="calendar__month">
                                <button class="calendar__prev"><object class="calendar__prev-icon" type="image/svg+xml" data="icons/list_left.svg"></object></button>
                                <h4 class="h4 calendar__current-month"></h4>
                                <button class="calendar__next"><object class="calendar__next-icon" type="image/svg+xml" data="icons/list_right.svg"></object></button>
                            </div>
                            <div class="calendar__dates-wrapper">
                                <div class="calendar__weekdays">
                                    <div>пн</div>
                                    <div>вт</div>
                                    <div>ср</div>
                                    <div>чт</div>
                                    <div>пт</div>
                                    <div>сб</div>
                                    <div>вс</div>
                                </div>
                                <div class="calendar__days">
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <div class="header__search-line"></div>
                    <div class="header__search-item">
                        <div class="header__search-title">Особенности</div>
                        <div class="header__search-subtitle">Какой нужен торт?</div>
                    </div>
                    <div class="header__search-circle">
                        <img class="header__search-icon" src="icons/search.svg" alt="">
                    </div>
                </div>
            </div>   
            <div class="header__item">
                <a class="header__resume" href="newAcc.html">Разместить резюме</a>
                <div class="header__user-select-wrapper">
                    <div class="new-select header__user-select">
                        <button data-cannot-change-header class="new-select__btn">
                            <div class="header__account">
                                <a class="header__gamburger" href="#">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </a>
                                <div class="header__user">
                                    <img class="header__user-icon" src="icons/profile.svg" alt="">
                                </div>
                            </div>
                        </button>
                        <ul class="new-select__list">
                            <li class="new-select__list-item" data-value="registration">Регистрация</li>
                            <li class="new-select__list-item" data-value="help">Центр помощи</li>
                            <li class="new-select__list-item" data-value="safety">Доверие и безопасность</li>
                        </ul>
                        <!-- для отправки формы в которой находится select, для тех. нужд -->
                        <input class="new-select__input-hidden" type="text" name="select-category" value="">
                    </div>
                </div>
            </div>   
        </div>
    </div>
</header>