.which-cakes{
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
    &__descr{
        margin: 35px 0;
        max-width: 346px;
    }
    &__card-mt{
        margin-top: 65px;
    }
}