.baker-feedback{
    padding-bottom: 60px;
    max-width: 625px;
    &__top{
        display: flex;
        justify-content: space-between;
        margin-bottom: 35px;
    }
    &__raiting-number{
        font-weight: 600;
        font-size: 24px;
        a{
            font-weight: inherit;
            font-size: inherit;
        }
    }
    &__comment{
        margin-bottom: 45px;
    }
    &__input-wrapper{
        margin-bottom: 50px;
        position: relative;
        width: 100%;
        padding: 0 44px 0 25px;
        background: $blocks-color;
        border-radius: 23px;
        font-weight: 300;
        font-size: 12px;
        display: flex;
    }
    &__key-icon{
        margin-right: 10px;
    }
    &__input{
        width: 100%;
        padding: 13px 0;
        background: $blocks-color;
        line-height: 16px;
        color: rgba(51, 51, 51, 0.8);
        border: none;
        outline: none;
    }
}